$primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$primary-color: wheat;
$img-1: "../assets/restaurant.jpg";
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$map-height: 568px;

body {
	box-sizing: border-box;
	overflow: visible;
	//
	background-color: $primary-color;
	font-family: $primary-font;
	//
	background-image: url($img-1);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-blend-mode: luminosity;
	//
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;

	header {
		.display-4 {
			font-size: 3rem;
			@media (min-width: $breakpoint-sm) {
				font-size: 3.5rem; // original
			}
		}

		@media (min-width: $breakpoint-sm) {
			max-width: $breakpoint-md;
		}
	}

	main {
		@media (min-width: $breakpoint-sm) {
			max-width: $breakpoint-md;
		}

		#mapBCN {
			height: $map-height;
			@media (min-width: $breakpoint-md) {
				max-width: $breakpoint-md;
			}
		}
	}
}
